.cart-title {
    display: flex;
    align-items: center;
}

.cart-title h1 {
    margin-left: 10px;
}

.cart-container {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
}

.cart-items {
    width: 70%;
}

.cart-item {
    display: flex;
    margin-bottom: 30px;
}

.cart-item__image {
    width: 200px;
    height: 200px;
    background-color: var(--gray-color);
}

.cart-item__info {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item__controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.cart-item__control {
    width: 55px;
    height: 55px;
    background-color: var(--gray-color);
    font-size: 3em;
    text-align: center;

    transition: 0.2s;
}

.cart-item__control:hover {
    background-color: var(--dark-gray-color);
}

.cart-item__count {
    font-size: 2em;
}

.cart-summary {
    width: 30%;
    top: 0;
    position: sticky;
    padding: 20px 0;
}

.cart-summary__title {
    font-size: 2em;
}

.cart-summary__amounts {
    margin-top: 30px;
}

.cart-summary__amount {
    margin: 15px 0;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.cart-summary__amount small {
    color: var(--dark-gray-color);
}

.cart-summary__btn {
    outline: none;
    border: none;
    background-color: var(--highlight-color);
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    padding: 10px;
    margin-top: 50px;

    transition: 0.2s;
    border-radius: 5px;
}

.cart-summary__btn:hover {
    background-color: var(--highlight-dark-color);
}
