:root {
    --bg-primary-color: #FFA883;
    --gray-color: #D9D9D9;
    --dark-gray-color: #7b7b7b;
    --highlight-color: #B5BAFF;
    --highlight-dark-color: #9ca1e5;
    --white-color: #ffffff;
    --input_form: #FFDEDE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: "Anaheim", sans-serif;
    overflow-x: hidden;
}

header {
    background-color: var(--bg-primary-color);
    height: 80px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__icon {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

    transition: 0.2s;
    color: #000000;
    text-decoration: none;
}

.header__icon:hover {
    opacity: 50%;
}

main {
    height: 100%;
    padding: 20px 60px;
}

footer {
    background-color: var(--gray-color);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.footer__links a {
    padding: 10px;
}